
/* Importation des polices d'écritures */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: "Outfit", serif;
font-family: "Poppins", serif;
font-family: "Montserrat", serif;
*/
:root{
    --color-primary: #E8E9F3;
    --color-secondary: #272635;
    --color-tertiary: #7880B5;
    --color-quaternary: #AD8A64;

    --1-color : #373d56;
    --2-color : #0EFE87;

    --text-color : #ffff;
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--color-primary);
    font-family: "Poppins", sans-serif;
}

a{
    display: flex;
    width: -webkit-fill-available;
    text-decoration: none;
    color: white;
    margin: 0;
    justify-content: space-between;
}